.root {
  display: flex;
  flex-direction: column;
}

.item {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'icon content'
    'icon content';
  grid-gap: 10px;
  padding: 16px;
  font-size: 2rem;
  align-items: center;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgb(255 255 255 / 7%);
  border-radius: 50px;
  margin-bottom: 32px;
}

.itemIcon {
  grid-area: icon;
  width: 140px;
  height: 140px;
  background-image: var(--url);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.itemContent {
  grid-area: content;
}
