/*
  Ref: https://codepen.io/nicokoenig/pen/jGmGvV
*/

.cardContainer {
  position: relative;
  width: 65vmin;
  height: 80vmin;

  --image-width: cover;
  --image-height: cover;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darken(white, 2%);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(#111, 0.35);
  transition: transform 0.35s ease-out;
  transform: translate(var(--x), var(--y)) scale(0.5) rotate(var(--angle));
  will-change: transform;
}
.card:hover {
  transform: scale(1) rotate(0deg);
  z-index: 1;
}

.card:hover:before {
  opacity: 1;
}

.card:before {
  content: '';
  display: block;
  width: 90%;
  height: 80%;
  margin: 5%;
  background-image: var(--image);
  background-size: var(--image-height) var(--image-width);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--image-x) var(--image-y, 0px);
  box-shadow: inset 0 0 5px rgba(#222, 0.35);
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 1;
  will-change: opacity;
}

.card:after {
  display: block;
  content: var(--caption);
  font-weight: 500;
  color: #fff;
  font-size: 3vmin;
  opacity: 1;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
}
