<div class="root">
  <div class="item">
    <div
      class="item-icon"
      style="--url: url('https://tinyurl.com/yyb53oeu')"
    />
    <div class="item-content">Golden Retriever</div>
  </div>

  <div class="item">
    <div
      class="item-icon"
      style="--url: url('https://tinyurl.com/y2x5yxmq')"
    />
    <div class="item-content">Husky</div>
  </div>

  <div class="item">
    <div
      class="item-icon"
      style="--url: url('https://tinyurl.com/y6svov4s')"
    />
    <div class="item-content">Pug</div>
  </div>
</div>